{% extends 'admin/master.html' %}

{% block body %}

{% if current_user.is_authenticated %}
<1>Chào {{ current_user.name }}</1>
{% else %}
<h1 class="text-center text-info">Đăng nhập</h1>
  <form action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" placeholder="Nhập email" name="email">
    </div>
    <div class="mb-3">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="pswd">
    </div>
      <button type="submit" class="btn btn-primary">Đăng nhập</button>
  </form>
{% endif %}

{% endblock %}
